#modal {
  z-index: 20;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.7);
}

#modal-content {
  border-radius: 10px;

  position: absolute;
  background-color:white;

  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
