.event-card__wrapper {
  position: relative;

  box-sizing: border-box;
  margin: auto;

  z-index: 5;

  width: 250px;
  height: 440px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.event-card__date-banner {
  z-index: 12;
  position: absolute;

  background-color: rgba(0,0,0,.6);
  color: white;

  font-size: .9em;

  width: 50px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 5px;

  clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);

  top: 20px;
  left: 37px;
  transition: all .6s;
}

.event-card__wrapper:hover .event-card__date-banner {
  top: 55px;
  left: 0px;
  transition: all .6s ease-out;

}

.event-card__foreground {
  position: absolute;

  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card__picture-wrapper {
  overflow: hidden;
  width: 175px;
  height: 250px;

  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .5s ease-in-out;
}


.event-card__wrapper:hover .event-card__picture-wrapper {
  overflow: hidden;
  width: 125px;
  height: 178px;

  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .4s ease-in-out;
}

.event-card__wrapper:hover .event-card__foreground-details {
  opacity: 0;
  transition: all .1s;
}

.event-card__picture {
  height: 100%;
}

.event-card__organizer-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.event-card__foreground-details-title {
  height: 2rem;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.event-card__foreground-details-organizer {
  font-size: 14px;
  margin: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.event-card__foreground-details-organizer > div {
  display: flex;
  align-items: center;
}

.event-card__foreground-details-organizer span{
  font-size: 12px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.event-card__foreground-details-ticket-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-ticket-alt {
  transform: rotate(-45deg);
  margin-right: 3px;
}

.event-card__foreground-details-ticket-count span {
  margin: 0 5px;
  font-size: 16px;
}

/*
 * ─── BACKGROUND ─────────────────────────────────────────────────────────────────
 */


.event-card__background {

  opacity: 0;
  z-index: -1;
  position: absolute;

  overflow: hidden;

  width:0;
  height: 0;

  top: 40px;
  align-self: center;

  background-color: white;

  border-radius: 20px;

  box-shadow: 0 0 10px rgba(0,0,0,.3);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all .5s ease-in-out;

}

.event-card__wrapper:hover .event-card__background {
  opacity: 1;
  width:250px;
  height: 400px;
  transition: all .5s ease-in-out .075s;
}

.event-card__background:hover {
  opacity: 1;
  width:250px;
  height: 400px;
  transition: all .5s ease-in-out .075s;

}

.event-card__background-image {
  filter: blur(8px);
  width: 100%;
}

.event-card__background-details {
  justify-self: flex-end;

  height:200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.event-card__background-title {
  font-size: 20px;
  text-align: center;
}

.event-card__background-summary{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-card__background-tickets {
  width: 100%;
  list-style-type: disc;
  list-style-position: inside;
}

.event-card__background-tickets span {
  font-weight: bold;
}

.event-card__background-ticket-item {
  margin: 5px 0;
  padding-left: 10px;
}

.event-card__background-tickets * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-card__background .button {
  justify-self: flex-end;
  margin: 10px;
}

div.event-card__background div.button:hover {
  box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
