.message {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-card__wrapper {
  width: 650px;
  height: 100%;
  background-color: whitesmoke;

  display: grid;
  grid-template-columns: 1fr 2fr;

  margin: 20px;
  padding: 20px;

  border-radius: 20px;
  cursor: pointer;
}

.ticket-card__wrapper:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ticket-card__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket-card__image-wrapper * {
  height: 125px;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
}

.ticket-card__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.ticket-card__buttons-container {
  display: flex;
  justify-content: space-around;
  /* margin-top: 20px; */
}

.ticket-card__buttons-container .button {
  padding: 0 12px;
}

.ticket-card__title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ticket-card__ticket-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ticket-card__owned {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ticket-card__details span {
  margin-right: 10px;
}
