.login-form {
  margin: auto;
  padding: 20px;

  width: 500px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form__input-fields {
  display: flex;
  flex-direction: column;
}

.login-form li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
}
